.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  // border-bottom: 1px solid $color-white;
  position: fixed;
  z-index: 20;
  top: 0;
  background-color: none;
  transition: background-color 0.4s ease;

  &--scrolled {
    background-color: $color-primary;
  }

  @media only screen and (max-width: 1024px) {
    background-color: $color-primary;
    flex-direction: row;
    justify-content: center;
  }

  &__language {
    color: $color-white;
    display: flex;

    @media only screen and (max-width: 1024px) {
      display: none;
    }

    & > button {
      padding: 3px;
      background-color: transparent;
      border: none;
      & > img {
        width: 100%;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  &__address {
    height: 3rem;
    display: block;
    transition: all 0.5s;
    width: 100%;
    border-bottom: 1px solid $color-white;
    font-size: 0.625rem;
    display: flex;
    justify-content: center;
    padding: 0 1rem;
    box-sizing: border-box;

    @media only screen and (max-width: 1024px) {
      display: none;
    }

    &--container {
      display: flex;
      width: 100%;
    }

    &--card {
      display: flex;
      align-items: center;

      &:nth-child(1) {
        margin-right: 5px;
      }

      &:nth-child(2) {
        margin-right: auto;
      }

      &--image {
        height: 1rem;
        padding: 0.5rem;

        & > img {
          height: 100%;
          width: auto;
        }
      }

      & > a {
        text-decoration: none;
        color: $color-white;
      }

      &--work-time {
        line-height: 1rem;
        color: $color-white;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
    @media only screen and (max-width: 1024px) {
      height: 3vh;
    }
  }

  &__navigation {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    box-sizing: border-box;

    & > * {
      flex: 1;
    }

    .header__main-logo {
      flex: 0.5;
      display: flex;
      justify-content: center;
      height: 4rem;

      img {
        height: 100%;
        width: auto;
      }
    }

    .header__language-and-reservation {
      display: flex;
      justify-content: flex-end;
      gap: 30px;

      .header__reservation-button {
        text-transform: uppercase;
        background: none;
        color: $color-white;
        padding: 1rem 2rem;
        border: 1px solid $color-white;
        transition: all 0.5s;

        &:hover {
          transform: scale(1.05);
        }
      }
    }

    @media only screen and (max-width: 1024px) {
      display: none;
    }

    &--rooms {
      position: relative;

      &:hover ul {
        transform: scale(1);
        visibility: visible;
      }

      &--list {
        border: 1px solid $color-grey-light;
        border-top: none;
        background-color: $color-white;
        width: 10rem;
        position: absolute;
        right: -101%;
        top: 0;
        transform-origin: 0 2rem;
        transform: scale(0);
        visibility: hidden;
        transition: all 0.5s;
      }

      &--room {
        color: $color-grey-dark;
        padding: 0.5rem;

        &:not(:first-child) {
          border-top: 1px solid $color-grey-light;
        }

        background-image: linear-gradient(
          120deg,
          transparent 0%,
          transparent 50%,
          $color-primary 50%
        );
        background-size: 235%;
        transition: all 0.4s;

        &:hover {
          background-position: 100%;
          background-color: rgba($color-primary, 0.4);
        }
        &:hover a {
          color: $color-white !important;
        }
      }

      &--room-link {
        color: $color-grey-dark !important;
      }
    }

    &--items {
      height: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 2rem;
      list-style-type: none;
    }

    &--item {
      position: relative;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;

      &:hover .services-submenu {
        visibility: visible;
        transform: scaleY(1);
        opacity: 1;
        transform-origin: top;
      }

      &--logo {
        height: auto;
        width: 5rem;
      }
    }

    &--item-link {
      background-color: transparent;
      text-decoration: none;
      color: $color-white;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        border-bottom: 1px solid $color-white;
      }

      &--logo {
        height: 5rem;

        &:hover {
          border: none;
        }
      }

      // &--services {
      //   &--list {
      //     font-size: 0.8rem;
      //     text-align: left;
      //     width: 10rem;
      //     position: absolute;
      //     top: 3rem;
      //     background-color: $color-white;
      //     transform: scaleY(0);
      //     transform-origin: top;
      //     visibility: hidden;
      //     transition: all 0.5s;

      //     @media only screen and (max-width: 1024px) {
      //       top: 7vh;
      //     }
      //   }

      //   &--list-item {
      //     &:not(:first-child) {
      //       border-top: 1px solid $color-grey-light;
      //     }
      //     padding: 0.5rem 1rem;
      //     background-image: linear-gradient(
      //       120deg,
      //       transparent 0%,
      //       transparent 50%,
      //       $color-primary 50%
      //     );
      //     background-size: 225%;
      //     transition: all 0.4s;

      //     &:hover {
      //       background-position: 100%;
      //       background-color: rgba($color-primary, 0.4);
      //       border-bottom: none;
      //     }
      //     &:hover a {
      //       color: $color-white;
      //     }
      //   }
      // }
    }

    &--image {
      height: 100%;
    }
    @media only screen and (max-width: 1024px) {
      height: 7vh;
    }
  }

  @media only screen and (max-width: 1024px) {
    height: 10vh;
  }
}
