.mobileheader {
  position: fixed;
  left: 0;
  top: 0;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  &__content {
    align-self: stretch;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media only screen and (min-width: 1025px) {
      display: none;
    }
  }

  &__logo {
    background-color: $color-white;
    border-radius: 50%;
    height: 80%;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    & > img {
      width: 100%;
      height: auto;
    }
  }
  &__navigation {
    &--heading {
      font-size: 2rem;
      color: $color-white;
      padding: 1rem;
    }

    &--services,
    &--rooms {
      & li a {
        text-transform: none;
        font-weight: 400;
      }
      & > div {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }

    &--hamburger {
      &--toggle {
        opacity: 0;
        position: absolute;

        &:checked + label > span {
          transform: rotate(45deg);
        }
        &:checked + label > span::before {
          top: 0;
          transform: rotate(0deg);
        }
        &:checked + label > span::after {
          top: 0;
          transform: rotate(90deg);
        }
      }

      &--button {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;

        & > span,
        & > span::before,
        & > span::after {
          display: block;
          position: absolute;
          width: 100%;
          height: 4px;
          background-color: $color-white;
          transition-duration: 0.5s;
        }

        & > span::before {
          content: "";
          top: -12px;
        }

        & > span::after {
          content: "";
          top: 12px;
        }
      }
    }

    &--list {
      border-top: 1px solid $color-white;
      position: fixed;
      background-color: $color-primary;
      top: 10vh;
      right: -70vw;
      height: 90vh;
      width: 70vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      transition: all 0.5s;

      &--go-back {
        font-weight: 400;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $color-white;
      }

      &--arrow {
        padding: 1rem;
        background-color: transparent;
        border: none;
        font-size: 1.5rem;
        color: $color-white;
        transition: all 0.2s;

        &:focus {
          transform: rotate(90deg);
        }
      }
    }

    &--list-item {
      line-height: 2rem;
      font-weight: 600;
      min-height: 10%;
      width: 70%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      transition: all 0.5s;
    }

    &--list-item-link {
      display: flex;
      justify-content: center;
      align-items: center;
      align-self: stretch;
      font-size: 150%;
      color: $color-white;
      text-transform: uppercase;
    }

    &--list-services {
      border-top: 1px solid $color-white;
      position: fixed;
      top: 10vh;
      right: -70vw;
      height: 90vh;
      width: 70vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      transition: all 0.5s;
    }

    &--language {
      & button {
        border: none;
        background-color: transparent;
        padding-right: 1rem;
        height: 2rem;
        width: auto;
      }
    }
  }
}

input[type="checkbox"] {
  opacity: 0;
  top: -100vh;
  position: absolute;
}

input[type="checkbox"]:checked ~ ul {
  right: 0;
}
