.landing-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(
      to left,
      rgba($color-white, 0.9),
      rgba($color-grey-light, 0.9)
    ),
    url("../../public/images/hotel/hotel-svetionik.jpg");
  background-attachment: fixed;
  @include centerBackgroundImage;
}
