.pagemarina {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__images {
    display: flex;
    flex-wrap: wrap;

    & > img {
      width: 23%;
      height: auto;
      margin: 1%;

      @media only screen and (max-width: 1024px) {
        width: 48%;
      }
      @media only screen and (max-width: 768px) {
        width: 98%;
      }
    }
  }
}
