.pagenews {
  min-height: 120vh;

  @media only screen and (max-width: 1024px) {
    min-height: 80vh;
  }

  &__notification {
    align-self: stretch;
    line-height: 1.5;
    font-size: 3rem;
    padding: 2rem;

    @media only screen and (max-width: 768px) {
      padding: 2rem 0;
    }
  }
}
