.pagerooms {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;

  &__roomcards {
    @media only screen and (max-width: 1024px) {
      margin-bottom: 50px;
    }
  }

  &__introduction {
    max-width: 70%;
  }
}
