.galleryalbumcard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1% auto;
  width: 23%;
  overflow: hidden;
  position: relative;
  transition: all 1s;

  @media only screen and (max-width: 1024px) {
    width: 45%;
  }

  @media only screen and (max-width: 768px) {
    width: 100%;
  }

  &:hover &__image {
    filter: blur(3px);
  }

  &:hover &__description {
    bottom: 40%;
    color: $color-black;
    background-color: rgba($color-white, 0.8);

    @media only screen and (max-width: 768px) {
      bottom: 30%;
    }
  }

  &:hover > a {
    position: absolute;
    bottom: 15%;
    opacity: 1;
    @media only screen and (max-width: 768px) {
      bottom: 5%;
    }
  }

  &__image {
    transition: all 1s;
    width: 100%;

    & > img {
      width: 100%;
      height: auto;
    }
  }

  &__description {
    text-align: center;
    background-color: rgba($color-white, 0.8);
    padding: 1rem;
    width: 90%;
    color: $color-grey-dark;
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    transition: all 1s;

    @media only screen and (max-width: 768px) {
      bottom: 30%;
      opacity: 1;
    }
  }

  & > a {
    position: absolute;
    padding: 0.5rem 1rem;
    bottom: 10%;
    opacity: 0;

    @media only screen and (max-width: 768px) {
      bottom: 5%;
      opacity: 1;
      font-size: 0.8rem;
      width: 100%;
    }
  }
}
