.room-mini-card {
  position: relative;
  // flex: 1;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: $color-grey-dark;
  overflow: hidden;
  background-color: rgba($color-white, 0.6);
  // padding: 1rem;
  border-radius: 0.5rem;
  margin: 0 30px;
  max-height: 500px;

  &:before {
    z-index: 1;
    position: absolute;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "";
    width: calc(100% - 1rem);
    height: calc(100% - 1rem);
    border: 1px solid $color-white;
  }

  &:nth-child(2) {
    margin: 0 1%;
  }

  @media only screen and (max-width: 768px) {
    flex: auto;
    width: 100%;
    margin: 1rem 0;
  }

  a:hover {
    color: $color-primary;
  }

  &__image-container {
    width: 100%;
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;

    overflow: hidden;

    &:hover > img {
      transform: scale(1.1);
      filter: brightness(100%);
    }

    & > img {
      transition: all 1s;
      width: 100%;
      height: auto;
      border-radius: 5px;
      filter: brightness(70%);
    }
  }

  &__info {
    z-index: 2;
    width: 100%;
    position: absolute;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h3 {
      text-align: center;
      font-size: 30px;
      color: $color-white;
      margin-bottom: 20px;
    }

    .room-mini-card__details {
      width: 100%;
      color: white;
      display: flex;
      justify-content: space-between;

      @media only screen and (max-width: 768px) {
        flex-wrap: wrap;
      }

      li {
        padding: 2% 0;
        text-align: center;
        flex: 1;

        @media only screen and (max-width: 600px) {
          width: 50%;
          flex: auto;
        }

        .room-mini-card__info-box {
          display: flex;
          justify-content: center;

          @media only screen and (max-width: 600px) {
            justify-content: flex-start;
          }

          img {
            width: 1.5rem;
            height: auto;
            margin-right: 10px;
          }

          span {
            font-size: 14px;
          }
        }
      }
    }

    .room-mini-card__description {
      margin-bottom: 1rem;
    }

    .room-mini-card__icon {
      padding: 0.5rem;
      margin-right: 0.5rem;
      border: 1px solid $color-primary;
      border-radius: 3px;
    }

    @media only screen and (max-width: 1024px) {
      font-size: 2rem;
    }
  }
}
