.section-rooms {
  justify-content: space-around;

  .heading-secondary{
position: relative;

&:before,&:after{
    content:"";
position: absolute;
height:100%;
width:40%;
top:50%;
left:0;
border-top: 1px solid black;
}
&:after{
  right:0;
  left:auto;
}
}
  
  
  &__text {
    width: 95%;
    padding: 1rem;

    & button {
      background-color: transparent;
      border: none;
      padding: 0;
    }
  }
  &__rooms {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1rem;
        width: 100%;
    

    @media only screen and (max-width: 768px) {
      flex-wrap: wrap;
    }
  }
}
