.sectionaboutus {
  background-image: linear-gradient(
      to right,
      rgba($color-white, 0.8),
      rgba($color-white, 0.8)
    ),
    url("../../public/images/hotel-background.jpg");

  &__content {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-self: stretch;

    @media only screen and (max-width: 1024px) {
      flex-direction: column;
    }

    &--text-and-button {
      flex: 0 0 33%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      align-self: stretch;
    }

    &--text {
      width: 95%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 2rem 0;

      & > p {
        text-align: left;
        align-self: stretch;
      }
    }

    &--images {
      position: relative;
      flex: 0 0 50%;
      align-self: stretch;

      @media only screen and (max-width: 1024px) {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: 2rem 0;
      }
      @media only screen and (max-width: 768px) {
        flex-wrap: wrap;
      }
    }

    &--image {
      position: absolute;
      width: 50%;
      box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
      border-radius: 2px;
      z-index: 10;
      transition: all 0.2s;
      outline-offset: 0.3rem;

      @media only screen and (max-width: 1024px) {
        align-self: stretch;
        position: relative;
        width: 30%;
        height: auto;
        box-shadow: none;
        border: none;
        outline-offset: 0;
      }

      @media only screen and (max-width: 768px) {
        width: 98%;
        margin: 1%;
      }

      &--1 {
        left: 0;
        top: 30%;
        @media only screen and (max-width: 1024px) {
          top: auto;
          left: auto;
        }
      }

      &--2 {
        right: 15%;
        top: 35%;
        @media only screen and (max-width: 1024px) {
          top: auto;
          right: auto;
        }
      }
      &--3 {
        left: 30%;
        top: 10%;
        @media only screen and (max-width: 1024px) {
          top: auto;
          left: auto;
        }
      }

      &:hover {
        outline: 0.2rem solid $color-primary;
        transform: scale(1.05);
        box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
        z-index: 11;

        @media only screen and (max-width: 1024px) {
          outline: none;
          transform: none;
          box-shadow: none;
          z-index: 1;
        }
      }
    }

    &:hover &image:not(:hover) {
      transform: scale(0.95) translateY(-0.5rem);
    }
  }
}
