.section-rooms {
  justify-content: space-around;
  display: flex;
  align-items: center;
  margin-bottom: 50px;

  @media only screen and (max-width: 768px) {
    flex-direction: column;
  }

  &__heading-and-text {
    flex: 1;
    .section-rooms__text {
      box-sizing: border-box;
      width: 95%;
      padding: 0 1rem;
      text-align: center;
      margin-bottom: 1rem;

      @media only screen and (max-width: 768px) {
        text-align: left;
      }

      & button {
        background-color: transparent;
        border: none;
        padding: 0;
      }
    }
  }

  &__rooms {
    flex: 1.5;

    @media only screen and (max-width: 768px) {
      flex-wrap: wrap;
    }
  }
}
