.sectionservices {
  &__description {
    text-align: center;
  }

  &__services {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

    @media only screen and (max-width: 1024px) {
      padding: 1rem;
    }

    @media only screen and (max-width: 768px) {
      flex-direction: column;
    }
  }
}
